.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 60vw;
    height: 80vh;
    gap: 2em;
}
.formulario{
    padding: 3em;
    display: flex;
    gap: 1em;
    align-items: center;
}
.container ul{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}